body {
  margin: 0;
  padding-top: 30px;
}

.titlebar {
  height: 30px;
  background: darkgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


#nav-bar-background {
  margin-top: 30px;
}

ytmusic-app-layout ytmusic-nav-bar {
  margin-top: 30px;
}

ytmusic-app-layout tp-yt-app-drawer {
  margin-top: 30px;
}
